.chess-board{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 450px;
    height: fit-content;
}

.done-square{
    width: 80px;
    height: 80px;
    margin: 4px;  
    background: green;
}

.this-square{
    width: 80px;
    height: 80px;
    margin: 4px;  
    background: red;
}

.chess-square{
    width: 80px;
    height: 80px;
    margin: 4px;
}