.chess-board{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 440px;
    height: 440px;
}

.done-square{
    width: 80px;
    height: 80px;
    margin: 4px;  
    background: green;
}

.this-square{
    width: 80px;
    height: 80px;
    margin: 4px;  
    background: red;
}

.chess-square{
    width: 80px;
    height: 80px;
    margin: 4px;
}

.game{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.restart{
    margin-top: 50px;
    width: 100px;
    height: 40px;
    background: green;
    border-radius: 8px;
    border: 0px;
    color: white;
    font-size: 20px;
}